.dividendStats {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
}

.itemStatLabel {
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 10px;
}

.itemStatVabel {
  font-size: 20px;
  text-decoration: underline;
  font-weight: 700;
}
